
<html>
  <head>
    <meta charset="utf-8"/>
    <title>EaST FRAMEWORK</title>
    <script src="js/jquery.min.js"></script>
    <script src="js/lodash.min.js"></script>
    <script src="js/rsvp.js"></script>
    <script src="js/metro.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/toastr.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/codemirror.js"></script>
    <script src="mode/python/python.js"></script>
    <script src="js/guiCommands.js"></script>
    <script src="js/serverCommands.js"></script>
    <script src="js/ws.js"></script>
    <script src="js/components.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/metro.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/metro-schemes.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/metro-colors.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/metro-icons.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/metro-rtl.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/toastr.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/codemirror.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
  </head>
  <body style="position: absolute; height: 100vh; width: 100vw">
    <div id="editorDialog">
      <re-modal :show.sync="show" @ok="save" :large="true" :okText="'Saffffve'">
        <textarea id="editor"></textarea>
        <div slot="header" class="text-center">
          <h4>Edit {{title}}</h4>
        </div>
      </re-modal>
    </div>
    <div id="optionsDialog">
      <re-modal :show.sync="show" @ok="ok" okText="Run">       
        <table>
          <tr>
            <td>
              <label>Use listener:</label>
            </td>
            <td>
              <input type="checkbox" v-model="useListener"/>
            </td>
          </tr>
          <tr v-for="option in options" title="{{option.value.description || ''}}">
            <td> 
              <label>{{option.option}}:</label>
            </td>
            <td>
              <input v-show="option.value.type == 'int'" type="number" v-model="option.value.value" class="form-control"/>
              <input v-show="option.value.type == 'string'" type="" v-model="option.value.value" class="form-control"/>
              <input v-show="option.value.type == 'bool'" type="checkbox" v-model="option.value.value"/>
              <select v-show="option.value.type == 'list'" v-model="option.value.selected" class="form-control">
                <option v-for="opt in option.value.options" :selected="opt == option.value.selected">{{opt}}</option>
              </select>
            </td>
          </tr>
        </table>
        <div slot="header" class="text-center">
          <h4>{{moduleName}}</h4>
        </div>
      </re-modal>
    </div>
    <div id="imagePopup">
      <re-modal :show.sync="show" :full="true"><img :src="image || '/'"/>
        <div slot="header" class="text-center">
          <h4>Image</h4>
        </div>
        <div slot="footer">
          <button type="button" :class="cancelClass" @click="show=false" class="btn btn-default">Close</button>
        </div>
      </re-modal>
    </div>
    <div id="mainVue">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header"><a href="#" class="navbar-brand">EaST Framework {{ version }}</a></div>
          <ul class="navbar-form navbar-right">
            <div class="form-group">
              <label class="fg-white">Target:</label>
              <input placeholder="127.0.0.1:80" v-model="target" class="form-control"/>
            </div>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <tree-view :model.sync="modules" class="fg-white"></tree-view>
            <re-module-info :module.sync="selectedModule" class="left-panel"></re-module-info>
          </div>
          <div class="col-md-8">
            <tab-view :tabs.sync="tabs"> </tab-view>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>